* {
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: #1F2937;
    padding: 1.5rem 12%;
    height: 30rem; 
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 1rem;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin-right: auto;
}

a,
.caption > p {
    font-size: 18px;
    color: #F9FAF8;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.caption > button {
    background-color: hsl(212, 85%, 55%);
    color: #F9FAF8;
    font-weight: 700;
    padding: 8px 40px;
    border: hsl(212, 85%, 55%) solid 1px;
    border-radius: 10%;
    margin-top: 1rem;
    
}

.nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
}

.hero {
    display: flex;
    justify-content: space-between
}

img {

    max-height: 200px;
    width: 500px;
}

h2 {
    font-size: 36px;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.blocks {
    display: flex;
    gap: 3rem;
}

.block {
    
    height: 210px;
    width: 180px;
}

.shape {
    height: 180px;
    width: 180px;
    border: 3px solid rgb(81, 119, 243);
    border-radius: 15%;
    margin-bottom: 0.7rem;
}

.undershape {
    text-align: center;
}

.quote_section {
    background-color: #E5E7EB;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem auto;
}

.quote_block {
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 1rem;
    
}

.quote,
.author{
    display: block;
    
}

.author {
    font-weight: bold;
    align-self: flex-end;
    font-size: 1.2rem;

}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    text-align: left;

}

.blueblock_section {
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueblock {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 2rem 6rem;
    background-color: hsl(212, 85%, 55%);
    color: #E5E7EB;
    border-radius: 2%;
}

.second_button {
    padding: 0.5rem 2rem;
    background-color: hsl(212, 85%, 55%);
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
    border-radius: 10%;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 1.5em;
    background-color: #1F2937;
}

footer > p {
    padding: 3rem 0;
}

